.charm {
  fill: #edf067;
}

.spell {
  fill: #4f80b0;
}

.jinx {
  fill: #1b3480;
}

.hex {
  fill: #801d80;
}

.curse {
  fill: #442f57;
}

.unforgivable {
  fill: #171617;
}

.insignificant {
  opacity: 0.4;
}
